<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>네비게이션바</title>
    <script src="https://kit.fontawesome.com/f696815b8c.js" crossorigin="anonymous"></script>
    <style>
        .header{
            background-color: #8d789a;
            overflow: hidden;
            display: flex;
            justify-content: right;
        }
        .header a{
            float: left;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
            font-size: 18px;
        }
        .topnav a:hover {
            background-color: #e5d4a0;
            color: black;
        }

    </style>
</head>
<body>
<div class="header">
    <a href="#" class="main"><i class="fa-solid fa-house-chimney"></i> Home</a>
    <a href="#"><i class="fa-solid fa-magnifying-glass"></i> Search</a>
    <a href="#"><i class="fa-regular fa-address-book"></i> Contact</a>
    <a href="#" ><i class="fa-regular fa-user"></i> login</a>
</div>
</nav>
본문 페이지가 들어갈곳
</body>
</html>